.content1{
    height: 500px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color:white;
    background-image:linear-gradient(to bottom  ,
              rgba(172, 151, 151, 0.3),
              rgba(12, 14, 15, 0.9)), url('../images/bgnew.jpg');
}

.headCont{
    padding-top: 160px;
}
.headCont>p:first-child{
    color: orange;
    text-transform: uppercase;
    font-weight: bold;
}

.headCont button,.content2 button {
    background:linear-gradient(to right  ,
              rgb(236, 5, 5),
              rgb(248, 160, 8));
    border:none;
    color: white;
}
.content2{
    padding-top: 50px;
    height: 350px;
}


.content3
{
    height: 400px;
    padding-top: 50px;
}

.content3 img{
    border-radius: 50px;
}

.content3 p{
    text-align: justify;
}








.content4{
    height: 300px;
}









/* for mobile devices below width 767 px*/
@media (max-width: 767px) {
    .content2{
        height: 700px;
    }
    .content3
    {
        height: 1200px;
    }
}
